<!-- Liste des genres -->
<h1>Genres</h1>
<div>
    <h2>Liste des genres :</h2>
    {{#if listegenre}}
    <ul>
    {{#each listegenre}}
        <li><a href="/genres/{{idGenre}}/jeux">{{nomGenre}}</a></li>
    {{/each}}
    </ul>
    {{else}}
    <p>Aucun genre pour le moment.</p>
    {{/if}}
</div>

<a href="/">Retour à l'accueil</a>
